body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.weather-container {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;
  animation: fadeIn 1s ease-in-out;
  transition: transform 0.3s;
}


input, button {
  padding: 10px;
  font-size: 1rem;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #abaeb1;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.2s;
}


#weatherResult img {
  animation: popIn 0.5s ease;
  margin-top: 10px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}
